/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*My styles
-------------------------------------------------- */

.main-container {
    margin: 0 50px;
}

.contracts__title {
    margin-top: 20px;
}

.contracts__table {
    width: 100%;
    margin-top: 40px;
}

.contracts__table-header {
    font-size: 20px;
    border-bottom: 3px solid black;
}

.contracts__table-header th {
    padding: 0 0 10px 10px;
    text-align: left;
}

.contracts__table-header th:nth-child(n + 4) {
    text-align: center;
}

.contracts__table-row {
    border-bottom: 1px solid black;
    font-size: 18px;
}

.contracts__table-row td {
    padding: 5px 5px 5px 10px;
    text-align: left;
}

.contracts__table-row td:nth-child(n + 4) {
    text-align: center;
}

.contracts__table-row-status-btn {
    width: 200px;
    text-align: center;
    background: none;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 16px;
}

.contracts__table-row-status-btn:hover {
    opacity: 0.7;
}

.contracts__table-row-edit-btn {
    display: inline-block;
    width: 200px;
    text-align: center;
    background: gold;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.contracts__table-row-edit-btn:hover {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

.contracts__table-row-status-btn.provided {
    background: limegreen;
}

.contracts__table-row-status-btn.declined{
    background: red;
    color: white;
}

.contracts__new-btn {
    display: inline-block;
    width: 300px;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    margin: 20px auto 20px;
    background: red;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 10px;

}

.contract-form {
    width: 300px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contract-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contract-form__input {
    background: lightgray;
    border: none;
    font-size: 18px;
    height: 40px;
    padding-left: 7px;
}

.contract-form__warning {
    color: red;
    font-size: 14px;
}

.contract-form__input::placeholder {
    padding-left: 7px;
}

.contract-form__select {
    background: lightgray;
    height: 40px;
}

.contract-form__submit {
    background: black;
    border: none;
    color: white;
    font-size: 16px;
    width: 200px;
    height: 40px;
    font-weight: bold;
}

.contract-form__submit:hover {
    background: white;
    border: 2px solid black;
    color: black;
}